@import '../../../../styles/variables.scss';

.post-list {
	display: block;
	width: $main-width-default;
	margin: 50px auto;

	@media (max-width: $main-width-default) {
	    width: $main-width-mobile;
	}
}