@import '../../styles/variables.scss';

.footer{
	background-color: $grey5;
	min-height: 200px;
	text-align: center;

	&-inner{
		width: $main-width-default;
		margin: 0 auto;
		padding: 20px 0px 20px 0px;
		font-size: 14px;
		color: $grey0;

		@media (max-width: $main-width-default) {
		    width: $main-width-mobile;
		}

		.col-l {
			display: inline-block;
			width: 85%;
			vertical-align: middle;

			p {
				margin: 10px 0px;
			}

			.coming-soon {
				margin: 14px 0px;
			}
			.links {
				margin: 40px 0px;

				a{
					display: inline-block;
					background-color: $theme-green;
					padding: 6px 18px;
					border-radius: 4px;
					border: solid 1px $white;
					margin: 4px;
				}
			}
		}

		.col-r {
			display: inline-block;
			width: 15%;
			vertical-align: middle;
			text-align: left;
		}

		.footer-contact span {
			display: block;
			margin: 20px 0px;
		}
		.footer-contact img {
			width: 100%;
		}

		@media (max-width: $main-width-default) {
			.col-l {
				width: 100%;
			}

			.col-r {
				display: none;
			}

		    .footer-contact {
				display: none;
			}
		}
	}

	&-icp a {
		text-decoration: none;
		font-size: 14px;
		color: $grey0; 
	}
	
}