@import '../../../../styles/variables.scss';


.nav-grid {
	margin: 20px auto 80px auto;
	z-index: 10;
	text-align: center;

	@media (max-width: $main-width-default) {
		margin-bottom: 50px;
	}

	&-cell {
		display: inline-block;
		height: 160px;
		margin: 10px;
		overflow: hidden;
		vertical-align: middle;
		position: relative;

		&-img {
			width: 100%;
			height: 160px;
		}

		&-shadow{
			width: 100%;
			height: 160px;
			background-color: rgba(0,0,0,0.5);
		}

		&-text {
			height: 80px;
			transform: translateY(-84px);
			text-align: center;
			padding: 0px 14px;
		}

		&-title {
			font-size: 18px;
			color: $white;
		}

		&-desc {
			font-size: 14px;
			color: $grey0;
			margin: 12px;
			line-height: 20px;
		}

		&-1 {
			width: 23%;
		}

		&-2 {
			width: 48%;
		}

		&.active:before {
			display: inline-block;
			content: "◆";
			z-index: 99;
			position: absolute;
			color: $grey5;
			padding-top: 10px;
			font-size: 84px;
			height: 16px;
			width: 100%;
			left: 50%;
			transform: translateX(-50%);
			background-color: $grey5;
			line-height: 32px;
		}

		
		@media (max-width: $main-width-default) {
			margin: 5px;
			height: 80px;
			
			&-img {
				height: 80px;
			}

			&-text {
				height: 40px;
				transform: translateY(-42px);
			}
	
			&-title {
				font-size: 14px;
				color: $white;
			}
	
			&-desc {
				display: none;
			}

			&-1 {
				width: 22%;
			}
	
			&-2 {
				width: 45%;
			}

			&.active:before {
				padding-top: 0px;
			}
		}

	}

	&-cell:hover {
	 	* {
	 		cursor: pointer;
			
	 	}

	 	
		
	}

}