@import '../../../../styles/variables.scss';

$hero-height-default: 500px;
$hero-height-mobile: 350px;

.article-hero {
	display: block;
	width: 100%;
	height: $hero-height-default;

	@media (max-width: $main-width-default) {
		height: $hero-height-mobile;
	}

	&-overlay {
		display: block;
		width: 100%;
		height: $hero-height-default;
		position: absolute;
		transform: translateY(-$hero-height-default);
		background: -prefix-linear-zgradient(top, $transparent 20%, $grey4); 
		background: linear-gradient(to bottom, $transparent 20%, $black);

		@media (max-width: $main-width-default) {
			height: $hero-height-mobile;
			transform: translateY(-$hero-height-mobile);
		}

	}

	.article-hero-inner {
		display: block;
		width:$main-width-default;
		height: $hero-height-default/2;
		margin: 0 auto;
	    transform: translateY(-$hero-height-default/2);
   
	    h1{
			font-size: 28px;
		    color: $white;
		    line-height: 1.4;
		    text-shadow: 2px 2px 2px $grey5;
		    margin: 0px 10px;
		}

		.article-meta {
			position: absolute;
			bottom: 50px;
			color: $grey1;
			font-size: 14px;
			margin: 0px 10px;

			&-category {
				background-color: $theme-green;
				display: inline-block;			
			    border-radius: 4px;
			    padding: 6px 12px;
			    color: $grey0;
			}

			&-time{
				margin-left: 30px;
			}
		}

		@media (max-width: $main-width-default) {
			width: $main-width-mobile;
			height: $hero-height-mobile/2;
			transform: translateY(-$hero-height-mobile/2);
			
			h1 {
				font-size: 24px;
			}
		}
	}

	
}

