@import '../../../../styles/variables.scss';

$hero-height: 500px;

.article-hero {
	display: block;
	width: 100%;
	height: $hero-height;

	&-overlay {
		display: block;
		width: 100%;
		height: $hero-height;
		position: absolute;
		transform: translateY(-$hero-height);
		background: -prefix-linear-zgradient(top, $transparent 20%, $grey4); 
		background: linear-gradient(to bottom, $transparent 20%, $black);
	}

	.article-hero-inner {
		display: block;
		width:$main-width-default;
		height: $hero-height/2;
		margin: 0 auto;
	    transform: translateY(-250px);

	    @media (max-width: $main-width-default) {
		    width: $main-width-mobile;
		}
	    
	    h1{
			font-size: 28px;
		    color: $white;
		    line-height: 1.4;
		    text-shadow: 2px 2px 2px $grey5;
		    margin: 0px 10px;
		}

		.article-meta {
			position: absolute;
			bottom: 50px;
			color: $grey1;
			font-size: 14px;
			margin: 0px 10px;

			&-category {
				background-color: $theme-green;
				display: inline-block;			
			    border-radius: 4px;
			    padding: 6px 12px;
			    color: $grey0;
			}

			&-time{
				margin-left: 30px;
			}
		}
	}

	
}

