@import viewModels._
@import common.utility.TimeUtil
@(vm: ArticlePageViewModel)

@scripts = {
<script type="text/javascript">

    	var pageConfig = pageConfig || {
    	    pageType: '@vm.pageType.toString()',
    		language: '@vm.language.toString()',
    	};

    	var articlePageParams = {};

    	articlePageParams.articleHero = {
    		titleImageSrc: "@vm.article.titleImageSrc",
    		preloadColor: '#aaaaaa',
    		title: "@vm.article.title",
    		categoryName: "@vm.article.categoryName",
    	    publishTime: "@TimeUtil.formatTimestamp(vm.article.publishTime)",
    	    authorName: "@vm.article.authorName"
    	};

    	articlePageParams.articleBody = {
            content: "@Html(vm.article.content)"
    	};


</script>
}

@main("Dash Web", scripts) {
<h1>Welcome to Dash's Web!</h1>
}
