@import viewModels._
@import play.api.libs.json.{Json}
@(vm: HomePageViewModel)

@scripts = {
    <script type="text/javascript">

    	var pageConfig = pageConfig || {
    	    pageType: '@vm.pageType.toString()',
    		language: '@vm.language.toString()',
    	};

    	var homePageParams = {};

    	homePageParams.hero = {
    		imageSrc: '@routes.Assets.versioned("images/hero3.jpg")',
    		preloadColor: '#666666',
    		heroGrid: {
                headlinePosts: @{
                    var arr = Json.arr()
                    for(post <- vm.headlinePosts) {
                        arr = arr.append(Json.obj(
                            "id" -> post.id,
                            "title" -> post.title,
                            "titleImageSrc" -> post.titleImageSrc
                        ))

                    }
                    Html(Json.toJson(arr).toString)
                }
    		}
    	};

    	homePageParams.navGrid = [
    	    [
    	        {
    	            name: 'new',
    	            imageSrc: '',
                    title: '- 最新 -',
                    description: '',
                    href: '/',
                    imagePreloadColor: '#009966', //'#6699CC',
                    size: 1,
    	        },
    	        {
    	            name: 'blog',
    	            imageSrc: '@routes.Assets.versioned("images/nav_blog.jpg")',
                    title: '- 博客 -',
                    description: '',
                    href: '/',
                    imagePreloadColor: '#009966', //'#FFCC66',
                    size: 1,
                    withShadow: true,
    	        },
    	        {
    	            name: 'travel',
                    imageSrc: '',
                    title: '- 旅游 -',
                    description: '我们的游记。一边环游全球，一边分享世界每个角落。',
                    href: '/',
                    imagePreloadColor: '#009966', //'#9999CC',
                    size: 2,
    		    },
    	    ],
    	    [
    	        {
    	            name: 'itinerary',
                    imageSrc: '@routes.Assets.versioned("images/nav_travel.jpg")',
                    title: '- 精选旅游线路 -',
                    description: '',
                    href: '/',
                    imagePreloadColor: '#009966', //'#CCCCCC',
                    size: 2,
                    withShadow: true,
    		    },
    	        {
    	            name: 'daily',
    	            imageSrc: '',
                    title: '- 每日推荐 -',
                    description: '',
                    href: '/',
                    imagePreloadColor: '#009966', //'#FFCC66',
                    size: 1,
    	        },
    	        {
    	            name: 'shopping',
    	            imageSrc: '@routes.Assets.versioned("images/nav_shopping.jpg")',
                    title: '- 旅淘 -',
                    description: '全球买手为你推荐世界各地必买好货。',
                    href: '/',
                    imagePreloadColor: '#009966', //'#0099CC',
                    size: 1,
                    withShadow: true,
    	        },
    	    ]
    	];



    </script>
}

@main("Dash Web", scripts) {
  <h1>Welcome to Dash's Web!</h1>
}
