@import viewModels._
@(vm: HomePageViewModel)

@scripts = {
    <script type="text/javascript">

    	var pageConfig = pageConfig || {
    	    pageType: '@vm.pageType.toString()',
    		language: '@vm.language.toString()',
    	};

    	var homePageParams = {};

    	homePageParams.hero = {
    		imageSrc: '@routes.Assets.versioned("images/hero1.jpg")',
    		preloadColor: '#666666',
    	};

    	homePageParams.highlightNav = {
    		blog: {
    			imageSrc: '@routes.Assets.versioned("images/nav_blog.jpg")',
    			title: '- 博客 -',
    			description: '博客文章博客文章博客文章博客文章博客文章',
    			href: '/',
    			imagePreloadColor: '#FFCC66',
    		},
    		travel: {
    			imageSrc: '@routes.Assets.versioned("images/nav_travel.jpg")',
    			title: '- 旅游 -',
    			description: '我们的游记。一边环游全球，一边分享世界每个角落。',
    			href: '/',
    			imagePreloadColor: '#CCCCCC',
    		},
    		shopping: {
    			imageSrc: '@routes.Assets.versioned("images/nav_shopping.jpg")',
    			title: '- 购物 -',
    			description: '我们是全球买手。为你推荐世界各地必买好货。',
    			href: '/',
    			imagePreloadColor: '#0099CC',
    		},
    	};

    	homePageParams.postList = {
    		posts: [
    			{
    				id: 1,
  					imageSrc: '@routes.Assets.versioned("images/nav_blog.jpg")',
  					mark: '旅游',
  					title: '从最热的曼谷，到最冷的北极圈',
  					summary: '一路向北一路向北一路向北一路向北一路向北，一路向北一路向北一路向北，一路向北从最热的曼谷，到最冷的北极圈从最热的曼谷，到最冷的北极圈从最热的曼谷，到最冷的北极圈从最热的曼谷，到最冷的北极圈从最热的曼谷，到最冷的北极圈',
  					time: '一天前',
  					tags: ['旅游', '俄罗斯'],
  					comments: 2,
    			},
    			{
    				id: 2,
  					imageSrc: '@routes.Assets.versioned("images/nav_blog.jpg")',
  					mark: '旅游',
  					title: '从最热的曼谷，到最冷的北极圈',
  					summary: '一路向北一路向北一路向北一路向北一路向北，一路向北一路向北一路向北，一路向北从最热的曼谷，到最冷的北极圈从最热的曼谷，到最冷的北极圈从最热的曼谷，到最冷的北极圈从最热的曼谷，到最冷的北极圈从最热的曼谷，到最冷的北极圈',
  					time: '一天前',
  					tags: ['旅游', '俄罗斯'],
  					comments: 3,
    			},
    			{
    				id: 3,
  					imageSrc: '@routes.Assets.versioned("images/nav_blog.jpg")',
  					mark: '旅游',
  					title: '从最热的曼谷，到最冷的北极圈',
  					summary: '一路向北一路向北一路向北一路向北一路向北，一路向北一路向北一路向北，一路向北从最热的曼谷，到最冷的北极圈从最热的曼谷，到最冷的北极圈从最热的曼谷，到最冷的北极圈从最热的曼谷，到最冷的北极圈从最热的曼谷，到最冷的北极圈',
  					time: '一天前',
  					tags: ['旅游', '俄罗斯'],
  					comments: 2,
    			}
    		]
    	}

    </script>
}

@main("Dash Web", scripts) {
  <h1>Welcome to Dash's Web!</h1>
}
