@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String, scripts: Html = Html(""))(content: Html)

@import java.io.File
@import play.twirl.api.StringInterpolation

@getBundleScripts() = @{
    val d = new File("./public/dist/scripts")
    if (d.exists && d.isDirectory) {
        val files = d.listFiles.filter((f: File) => f.isFile && f.getName.startsWith("main."))
        if (!files.isEmpty){
            val src = routes.Assets.versioned("dist/scripts/" + files.head.getName)
            html"<script src='$src' type='text/javascript' ></script>"
        }
    }
}

@getBundleStyles() = @{
    val d = new File("./public/dist/styles")
    if (d.exists && d.isDirectory) {
        val files = d.listFiles.filter((f: File) => f.isFile && f.getName.startsWith("main."))
        if (!files.isEmpty){
            val href = routes.Assets.versioned("dist/styles/" + files.head.getName)
            html"<link rel='stylesheet' media='screen' href='$href'>"
        }
    }
}


<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
        @getBundleStyles()
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        @scripts
    </head>
    <body>
        <div id="app"></div>
        <script crossorigin src="https://unpkg.com/react@@16/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@@16/umd/react-dom.production.min.js"></script>
        @getBundleScripts()
        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charSet="utf-8"></script>
    </body>
</html>
